* {
    box-sizing: border-box;
}

a {
    color: firebrick;
    font-style: italic;
    text-decoration: none;
    text-shadow: 0px 0px 0.2px black;
}

body {
    background-color: black;
    background-image: url("https://i.postimg.cc/xjc4L9qW/Library-Knight.jpg");
    background-size:contain;
    margin: 0;
    padding: 225px 10px 100px 10px; 
}

cite {
    text-shadow: 0 0 1px #002546;
}

em {
    text-shadow: 0 0 1px #B9BBFF;
}

figcaption {
    font-family: cochin, times new roman, times;
    font-size: 0.92rem;
    padding-top: 5px;
}

figure {
    align-items: center;
    display:flex;
    flex-direction: column;
    padding:15px 0;
    margin:auto;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: cochin, times new roman, times;
    font-size: 0.99rem;
    min-width:268px;
    opacity:0.9;
    padding: 50px 15px;
}

footer, header, main { 
    margin: 0 auto;
    max-width:1150px;
    text-align: center;
}

#grrm-web {
    font-size:1.4rem;
    font-style: normal;
    font-weight: bold;
    text-shadow: 0px 0px 1.2px black;
    width:fit-content;
}

h1 {
    font-size: 2.3rem;   
}

h1, h2 {
    font-family: didot, baskerville, georgia;
    margin: auto;
}

h2 {
    font-size: 1.25rem;
}

header {
    background: linear-gradient(180deg, peachpuff, whitesmoke 95%);
    border-radius: 25px 25px 0 0;
    min-width:300px;
    opacity:0.9;
    padding: 45px 12px;
}

i {
    text-shadow: 0 0 1px steelblue;
}

img { 
    min-width: 240px;
    max-width:475px;
    width:100%;
}

main {
    column-gap: 3rem;
    column-width: 25rem;
    background:linear-gradient(180deg, whitesmoke, lightsteelblue , whitesmoke, peachpuff 99.6%, black 99.7%, firebrick 99.8%, black 99.9%);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-family: papyrus, cochin, times new roman, times;
    font-size: 1.18rem;
    font-weight:550;
    letter-spacing: 1px;
    min-width:300px;
    opacity:0.93;
    padding:55px 25px 45px 25px;
}

p { 
    margin:0 auto;
    padding: 3px 0px;
    text-align: left;
    text-indent: 2em;
}

#young {
    float:left;
    max-width: 240px;
    margin-right: 15px;
}


@media (max-width:525px) {

    body {
        padding: 150px 5px 60px 5px; 
    }

    main {
        padding:25px 15px 45px 15px;
    }

    p {
        clear: both;
    }

    #young {
        float:none;
        margin:auto;
    }
}
